<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>


 <vendor>Alexandru-Catalin Petrini</vendor>
 <vendor_url>https://github.com/cyberalex4life/</vendor_url>


 <action id="org.freedesktop.policykit.pkexec.prime-select.policy">

 <description>Execute 'prime-select' without password. Put this in '/usr/share/polkit-1/actions'</description>

 <message>Authentication to run 'prime-select' as root.</message>
 <defaults>
 <allow_any>yes</allow_any>
 <allow_inactive>yes</allow_inactive>
 <allow_active>yes</allow_active>
 </defaults>
 <!-- It is important to that the path of runwithpkexec correspond to the path mentioned here -->
 <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/prime-select</annotate>
 <!-- We also want to be able to execute applications with graphical interfaces -->
 <annotate key="org.freedesktop.policykit.exec.allow_gui">TRUE</annotate>
 </action>

</policyconfig>
